[submodule "ghua/vendor/glfw"]
	path = ghua/vendor/glfw
	url = https://github.com/GFoUS/glfw
[submodule "ghua/vendor/spdlog"]
	path = ghua/vendor/spdlog
	url = https://github.com/GFoUS/spdlog
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/gfous/glfw
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gfous/spdlog
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc//glm
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
	branch = develop
